# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

tags
*.ro
chat_debug
chat_release
libwebsocket/include/*
libwebsocket/lib/*
/build_x64_vs2019_release_VCPKG
/build_x64_linux_release_VCPKG
